<div class="bg-white" style="padding: 3rem 1.5rem 1.5rem 1.5rem;">
    <img src="images/car.png" alt="Car">
    <p class="mb-2">Nama / Tipe Mobil</p>
    <p><b>Rp. 430.000 / Hari</b></p>
    <p><img src="images/icons/fi_key.svg" alt="key"> Start rent - Finish rent</p>
    <p><img src="images/icons/fi_clock.svg" alt="clock"> Updated at 4 Apr 2022 09.00</p>
    <div class="d-flex">
        <button type="submit" class="btn btn-outline-danger me-3 flex-fill"><img
                src="images/icons/fi_trash.svg" alt="Plus"> Delete</button>
        <button type="submit" class="btn btn-info flex-fill"><img src="images/icons/fi_edit.svg"
                alt="Plus"> Edit</button>
    </div>
</div>