<form class="bg-white d-flex flex-column justify-content-center w-100 p-5">
   <img src="images/logo2.png" style="width: 8rem;">
   <h3 class="my-5"><b>Welcome, Admin BCR</b></h3>

   <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Contoh johndee@example.com">
   </div>

   <div class="mb-3">
      <label for="password" class="form-label">Email</label>
      <input type="password" class="form-control" id="password" placeholder="6+ karakter">
   </div>

<!-- <button class="btn btn-danger mt-4"><a href="/dashboard" class="text-white text-decoration-none">Sign In</a></button> -->

<a href="/dashboard" class="btn btn-darkblue mt-4">Sign In</a>
</form>