<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="d-flex flex-column flex-lg-row">
     <div class="bg-darkblue" style="background-image: url('images/car_login.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh; 
      width: 220%;">
     </div>
      <%- include('partials/login_form'); %>
  </body>
</html>
